
# Ignore al markdown
*.md
**/.md

# ignore al hidden files
.*
**/.*

# ignore local dependencies
node_modules

# Ignore builds
dist

# Custom
build_commands
database_docker
start_db.sh
start_image.sh
docker-compose.yml
**/docker-compose.yml
Dockerfile
**/Dockerfile
temp